<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<p>{{r}}</p>
<h3>State</h3>
<form action="" method="post">{% csrf_token %}
<input type="submit" name="on" value="on" />
<input type="submit" name="off" value="off" />
</form>
<br>
<h3>Mode</h3>
<form action="" method="post">{% csrf_token %}
<input type="submit" name="auto" value="auto" />
<input type="submit" name="manual" value="manual" />
</form>
</body>
</html>
